In [38]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [36]:
pd.set_option('display.max_columns', None)

In [50]:
df_moda_sostenible = pd.read_csv("sustainable_fashion_trends_2024.csv")
df_marketing = pd.read_csv("marketing_campaign.csv", sep="	")

In [52]:
df_marketing.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0

In [53]:
df_marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [54]:
df_marketing.shape
print(f"El número de filas que tenemos es {df_marketing.shape[0]}, y el número de columnas es {df_marketing.shape[1]}")

El número de filas que tenemos es 2240, y el número de columnas es 29

In [55]:
df_marketing.isnull().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [56]:
df_marketing.duplicated().sum().item()

0

In [57]:
df_marketing.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [5]:
df_moda_sostenible.head(10)

,Brand_ID,Brand_Name,Country,Year,Sustainability_Rating,Material_Type,Eco_Friendly_Manufacturing,Carbon_Footprint_MT,Water_Usage_Liters,Waste_Production_KG,Recycling_Programs,Product_Lines,Average_Price_USD,Market_Trend,Certifications
0,BRAND-0001,Brand_1,Australia,2018,D,Tencel,No,1.75,4511152.79,97844.11,No,2,38.33,Growing,GOTS
1,BRAND-0002,Brand_2,Japan,2015,D,Vegan Leather,Yes,124.39,1951566.31,37267.75,No,15,250.07,Growing,GOTS
2,BRAND-0003,Brand_3,USA,2024,A,Vegan Leather,No,336.66,467454.52,38385.92,No,2,146.16,Growing,B Corp
3,BRAND-0004,Brand_4,Italy,2023,D,Bamboo Fabric,No,152.04,899576.90,32665.45,No,13,165.52,Stable,OEKO-TEX
4,BRAND-0005,Brand_5,USA,2016,D,Bamboo Fabric,Yes,415.63,1809219.90,37295.47,Yes,19,211.63,Stable,Fair Trade
5,BRAND-0006,Brand_6,Italy,2017,B,Recycled Polyester,No,447.65,2244115.38,69017.63,Yes,10,196.45,Stable,B Corp
6,BRAND-0007,Brand_7,Australia,2015,A,Hemp,Yes,345.64,1020265.49,18373.35,No,17,376.14,Stable,GOTS
7,BRAND-0008,Brand_8,Brazil,2022,C,Tencel,No,336.70,3847649.16,28717.69,No,18,59.34,Declining,OEKO-TEX
8,BRAND-0009,Brand_9,France,2018,D,Recycled Polyester,Yes,386.68,1494891.28,45916.88,Yes,11,91.12,Declining,GOTS
9,BRAND-0010,Brand_10,India,2011,A,Bamboo Fabric,No,250.94,3892548.66,58636.15,No,9,426.55,Stable,NaN

In [6]:
df_moda_sostenible.tail()

,Brand_ID,Brand_Name,Country,Year,Sustainability_Rating,Material_Type,Eco_Friendly_Manufacturing,Carbon_Footprint_MT,Water_Usage_Liters,Waste_Production_KG,Recycling_Programs,Product_Lines,Average_Price_USD,Market_Trend,Certifications
4995,BRAND-4996,Brand_4996,Brazil,2010,A,Organic Cotton,Yes,423.73,251736.61,50532.28,No,1,490.95,Stable,NaN
4996,BRAND-4997,Brand_4997,Germany,2012,C,Bamboo Fabric,Yes,68.24,2342347.78,64214.57,Yes,13,53.92,Stable,Fair Trade
4997,BRAND-4998,Brand_4998,Japan,2023,D,Vegan Leather,Yes,321.12,317800.67,81467.21,Yes,12,431.32,Stable,NaN
4998,BRAND-4999,Brand_4999,India,2016,A,Tencel,No,124.83,927539.68,34506.22,Yes,20,322.95,Declining,Fair Trade
4999,BRAND-5000,Brand_5000,Italy,2016,B,Vegan Leather,No,192.11,3402552.70,81958.82,Yes,11,205.62,Growing,NaN

In [7]:
df_moda_sostenible.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Brand_ID                    5000 non-null   object
 1   Brand_Name                  5000 non-null   object
 2   Country                     5000 non-null   object
 3   Year                        5000 non-null   int64
 4   Sustainability_Rating       5000 non-null   object
 5   Material_Type               5000 non-null   object
 6   Eco_Friendly_Manufacturing  5000 non-null   object
 7   Carbon_Footprint_MT         5000 non-null   float64
 8   Water_Usage_Liters          5000 non-null   float64
 9   Waste_Production_KG         5000 non-null   float64
 10  Recycling_Programs          5000 non-null   object
 11  Product_Lines               5000 non-null   int64
 12  Average_Price_USD           5000 non-null   float64
 13  Market_Trend                5000 non-null   object
 14  Certifications              3996 non-null   object
dtypes: float64(4), int64(2), object(9)
memory usage: 586.1+ KB

In [8]:
df_moda_sostenible.shape
print(f"El número de filas que tenemos es {df_moda_sostenible.shape[0]}, y el número de columnas es {df_moda_sostenible.shape[1]}")

El número de filas que tenemos es 5000, y el número de columnas es 15

In [9]:
df_moda_sostenible.dtypes

Brand_ID                       object
Brand_Name                     object
Country                        object
Year                            int64
Sustainability_Rating          object
Material_Type                  object
Eco_Friendly_Manufacturing     object
Carbon_Footprint_MT           float64
Water_Usage_Liters            float64
Waste_Production_KG           float64
Recycling_Programs             object
Product_Lines                   int64
Average_Price_USD             float64
Market_Trend                   object
Certifications                 object
dtype: object

In [10]:
df_moda_sostenible.isnull().sum()

Brand_ID                         0
Brand_Name                       0
Country                          0
Year                             0
Sustainability_Rating            0
Material_Type                    0
Eco_Friendly_Manufacturing       0
Carbon_Footprint_MT              0
Water_Usage_Liters               0
Waste_Production_KG              0
Recycling_Programs               0
Product_Lines                    0
Average_Price_USD                0
Market_Trend                     0
Certifications                1004
dtype: int64

In [11]:
df_moda_sostenible.duplicated().sum().item()

0

In [12]:
df_moda_sostenible.columns

Index(['Brand_ID', 'Brand_Name', 'Country', 'Year', 'Sustainability_Rating',
       'Material_Type', 'Eco_Friendly_Manufacturing', 'Carbon_Footprint_MT',
       'Water_Usage_Liters', 'Waste_Production_KG', 'Recycling_Programs',
       'Product_Lines', 'Average_Price_USD', 'Market_Trend', 'Certifications'],
      dtype='object')

In [13]:
df_moda_sostenible.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,5000.0,2.016956e+03,4.347466e+00,2010.00,2.013000e+03,2017.000,2021.000,2024.00
Carbon_Footprint_MT,5000.0,2.503176e+02,1.428023e+02,1.04,1.266150e+02,250.650,372.255,499.93
Water_Usage_Liters,5000.0,2.517862e+06,1.429043e+06,50106.18,1.293087e+06,2499095.995,3763859.550,4999596.61
Waste_Production_KG,5000.0,5.010730e+04,2.874638e+04,1026.38,2.534080e+04,50466.340,74984.650,99947.85
Product_Lines,5000.0,1.043120e+01,5.706573e+00,1.00,5.000000e+00,10.000,15.000,20.00
Average_Price_USD,5000.0,2.593542e+02,1.377310e+02,20.02,1.428650e+02,258.615,378.595,499.94

In [14]:
df_moda_sostenible.describe(include=['object']).T

                           count unique                 top  freq
Brand_ID                    5000   5000          BRAND-0001     1
Brand_Name                  5000   5000             Brand_1     1
Country                     5000     10                  UK   515
Sustainability_Rating       5000      4                   B  1278
Material_Type               5000      6  Recycled Polyester   867
Eco_Friendly_Manufacturing  5000      2                 Yes  2520
Recycling_Programs          5000      2                 Yes  2528
Market_Trend                5000      3              Stable  1709
Certifications              3996      4                GOTS  1050

In [ ]:
def explorar_valores_unicos(df):
    for columna in df.columns:
        valores_unicos=df[columna].unique()
        total_unicos=len(valores_unicos)

        print(f"Columna : {columna}")
        print(f"Los valores unicos son: {valores_unicos}")
        print(f"Total valores unicos : {total_unicos}")
        print("---------------------------")

#Llamo a la funcion para Exploracion de valores unicos
explorar_valores_unicos(df_moda_sostenible)

Columna : Brand_ID
Los valores unicos son: ['BRAND-0001' 'BRAND-0002' 'BRAND-0003' ... 'BRAND-4998' 'BRAND-4999'
 'BRAND-5000']
Total valores unicos : 5000
---------------------------
Columna : Brand_Name
Los valores unicos son: ['Brand_1' 'Brand_2' 'Brand_3' ... 'Brand_4998' 'Brand_4999' 'Brand_5000']
Total valores unicos : 5000
---------------------------
Columna : Country
Los valores unicos son: ['Australia' 'Japan' 'USA' 'Italy' 'Brazil' 'France' 'India' 'UK'
 'Germany' 'China']
Total valores unicos : 10
---------------------------
Columna : Year
Los valores unicos son: [2018 2015 2024 2023 2016 2017 2022 2011 2012 2013 2020 2021 2014 2010
 2019]
Total valores unicos : 15
---------------------------
Columna : Sustainability_Rating
Los valores unicos son: ['D' 'A' 'B' 'C']
Total valores unicos : 4
---------------------------
Columna : Material_Type
Los valores unicos son: ['Tencel' 'Vegan Leather' 'Bamboo Fabric' 'Recycled Polyester' 'Hemp'
 'Organic Cotton']
Total valores unicos : 6
---------------------------
Columna : Eco_Friendly_Manufacturing
Los valores unicos son: ['No' 'Yes']
Total valores unicos : 2
---------------------------
Columna : Carbon_Footprint_MT
Los valores unicos son: [  1.75 124.39 336.66 ...  68.24 321.12 124.83]
Total valores unicos : 4747
---------------------------
Columna : Water_Usage_Liters
Los valores unicos son: [4511152.79 1951566.31  467454.52 ...  317800.67  927539.68 3402552.7 ]
Total valores unicos : 5000
---------------------------
Columna : Waste_Production_KG
Los valores unicos son: [97844.11 37267.75 38385.92 ... 81467.21 34506.22 81958.82]
Total valores unicos : 4998
---------------------------
Columna : Recycling_Programs
Los valores unicos son: ['No' 'Yes']
Total valores unicos : 2
---------------------------
Columna : Product_Lines
Los valores unicos son: [ 2 15 13 19 10 17 18 11  9  1 20  5  8  3 16 12 14  7  6  4]
Total valores unicos : 20
---------------------------
Columna : Average_Price_USD
Los valores unicos son: [ 38.33 250.07 146.16 ... 431.32 322.95 205.62]
Total valores unicos : 4748
---------------------------
Columna : Market_Trend
Los valores unicos son: ['Growing' 'Stable' 'Declining']
Total valores unicos : 3
---------------------------
Columna : Certifications
Los valores unicos son: ['GOTS' 'B Corp' 'OEKO-TEX' 'Fair Trade' nan]
Total valores unicos : 5
---------------------------