In [23]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [24]:
pd.set_option('display.max_columns', None)

In [25]:
df_moda_sostenible = pd.read_csv("data/sustainable_fashion_trends_2024.csv")
df_marketing = pd.read_csv("data/synthetic_customers_updated_with_continents.csv")

In [26]:
df_marketing.head()

,Client_ID,Name,Country,Age,Gender,Spending_USD,Favorite_Material,Annual_Income_Level,Sustainability_Preference,Kidhome,Year_Birth,Marital_Status,Education,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,Continents
0,CUST-0001,Jordan Miller,Germany,46,Male,674.68,Tencel,Medium,Doesn't Care,3,1976,Casado,Secundaria,6,15,16,13,Europe
1,CUST-0002,Avery Smith,Japan,50,Male,112.19,Vegan Leather,Medium,Doesn't Care,0,1989,Soltero,Secundaria,11,4,17,19,Asia
2,CUST-0003,Alex Williams,Brazil,58,Female,577.45,Vegan Leather,Medium,Prefers Sustainable,5,1977,Soltero,Posgrado,10,18,5,18,South America
3,CUST-0004,Taylor Johnson,Japan,32,Male,832.75,Vegan Leather,High,Doesn't Care,2,1972,Soltero,Secundaria,6,16,6,0,Asia
4,CUST-0005,Avery Miller,France,31,Female,255.84,Recycled Polyester,Low,Doesn't Care,1,1992,Soltero,Posgrado,20,11,20,15,Europe

In [27]:
# Diccionario con países y continentes
continent_dict = {
    'Germany': 'Europe',
    'Japan': 'Asia',
    'Brazil': 'South America',
    'France': 'Europe',
    'India': 'Asia',
    'UK': 'Europe',
    'China': 'Asia',
    'Australia': 'Oceania',
    'Italy': 'Europe',
    'USA': 'North America'
}

# Función para llenar continentes faltantes
def fill_continent(row):
    if row['Continents'] == 'Unknown':  # Solo reemplaza si el valor es 'Unknown'
        return continent_dict.get(row['Country'], 'Unknown')  # Busca en el diccionario
    return row['Continents']  # Deja el valor actual si no es 'Unknown'

# Aplicar función a la columna 'Continents'
df_marketing['Continents'] = df_marketing.apply(fill_continent, axis=1)

df_marketing.head()

,Client_ID,Name,Country,Age,Gender,Spending_USD,Favorite_Material,Annual_Income_Level,Sustainability_Preference,Kidhome,Year_Birth,Marital_Status,Education,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,Continents
0,CUST-0001,Jordan Miller,Germany,46,Male,674.68,Tencel,Medium,Doesn't Care,3,1976,Casado,Secundaria,6,15,16,13,Europe
1,CUST-0002,Avery Smith,Japan,50,Male,112.19,Vegan Leather,Medium,Doesn't Care,0,1989,Soltero,Secundaria,11,4,17,19,Asia
2,CUST-0003,Alex Williams,Brazil,58,Female,577.45,Vegan Leather,Medium,Prefers Sustainable,5,1977,Soltero,Posgrado,10,18,5,18,South America
3,CUST-0004,Taylor Johnson,Japan,32,Male,832.75,Vegan Leather,High,Doesn't Care,2,1972,Soltero,Secundaria,6,16,6,0,Asia
4,CUST-0005,Avery Miller,France,31,Female,255.84,Recycled Polyester,Low,Doesn't Care,1,1992,Soltero,Posgrado,20,11,20,15,Europe

In [28]:
df_marketing['Continents'].unique()

array(['Europe', 'Asia', 'South America', 'Oceania', 'North America'],
      dtype=object)

In [29]:
df_marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Client_ID                  1500 non-null   object
 1   Name                       1500 non-null   object
 2   Country                    1500 non-null   object
 3   Age                        1500 non-null   int64
 4   Gender                     1500 non-null   object
 5   Spending_USD               1500 non-null   float64
 6   Favorite_Material          1500 non-null   object
 7   Annual_Income_Level        1500 non-null   object
 8   Sustainability_Preference  1500 non-null   object
 9   Kidhome                    1500 non-null   int64
 10  Year_Birth                 1500 non-null   int64
 11  Marital_Status             1500 non-null   object
 12  Education                  1500 non-null   object
 13  NumDealsPurchases          1500 non-null   int64
 14  NumWebPurchases            1500 non-null   int64
 15  NumCatalogPurchases        1500 non-null   int64
 16  NumStorePurchases          1500 non-null   int64
 17  Continents                 1500 non-null   object
dtypes: float64(1), int64(7), object(10)
memory usage: 211.1+ KB

In [30]:
df_marketing.shape
print(f"El número de filas que tenemos es {df_marketing.shape[0]}, y el número de columnas es {df_marketing.shape[1]}")

El número de filas que tenemos es 1500, y el número de columnas es 18

In [31]:
df_marketing.isnull().sum()

Client_ID                    0
Name                         0
Country                      0
Age                          0
Gender                       0
Spending_USD                 0
Favorite_Material            0
Annual_Income_Level          0
Sustainability_Preference    0
Kidhome                      0
Year_Birth                   0
Marital_Status               0
Education                    0
NumDealsPurchases            0
NumWebPurchases              0
NumCatalogPurchases          0
NumStorePurchases            0
Continents                   0
dtype: int64

In [32]:
df_marketing.duplicated().sum().item()

0

In [33]:
df_marketing.columns

Index(['Client_ID', 'Name', 'Country', 'Age', 'Gender', 'Spending_USD',
       'Favorite_Material', 'Annual_Income_Level', 'Sustainability_Preference',
       'Kidhome', 'Year_Birth', 'Marital_Status', 'Education',
       'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases',
       'NumStorePurchases', 'Continents'],
      dtype='object')

In [34]:
df_moda_sostenible.head(10)

,Brand_ID,Brand_Name,Country,Year,Sustainability_Rating,Material_Type,Eco_Friendly_Manufacturing,Carbon_Footprint_MT,Water_Usage_Liters,Waste_Production_KG,Recycling_Programs,Product_Lines,Average_Price_USD,Market_Trend,Certifications
0,BRAND-0001,Brand_1,Australia,2018,D,Tencel,No,1.75,4511152.79,97844.11,No,2,38.33,Growing,GOTS
1,BRAND-0002,Brand_2,Japan,2015,D,Vegan Leather,Yes,124.39,1951566.31,37267.75,No,15,250.07,Growing,GOTS
2,BRAND-0003,Brand_3,USA,2024,A,Vegan Leather,No,336.66,467454.52,38385.92,No,2,146.16,Growing,B Corp
3,BRAND-0004,Brand_4,Italy,2023,D,Bamboo Fabric,No,152.04,899576.90,32665.45,No,13,165.52,Stable,OEKO-TEX
4,BRAND-0005,Brand_5,USA,2016,D,Bamboo Fabric,Yes,415.63,1809219.90,37295.47,Yes,19,211.63,Stable,Fair Trade
5,BRAND-0006,Brand_6,Italy,2017,B,Recycled Polyester,No,447.65,2244115.38,69017.63,Yes,10,196.45,Stable,B Corp
6,BRAND-0007,Brand_7,Australia,2015,A,Hemp,Yes,345.64,1020265.49,18373.35,No,17,376.14,Stable,GOTS
7,BRAND-0008,Brand_8,Brazil,2022,C,Tencel,No,336.70,3847649.16,28717.69,No,18,59.34,Declining,OEKO-TEX
8,BRAND-0009,Brand_9,France,2018,D,Recycled Polyester,Yes,386.68,1494891.28,45916.88,Yes,11,91.12,Declining,GOTS
9,BRAND-0010,Brand_10,India,2011,A,Bamboo Fabric,No,250.94,3892548.66,58636.15,No,9,426.55,Stable,None

In [35]:
df_moda_sostenible.tail()

,Brand_ID,Brand_Name,Country,Year,Sustainability_Rating,Material_Type,Eco_Friendly_Manufacturing,Carbon_Footprint_MT,Water_Usage_Liters,Waste_Production_KG,Recycling_Programs,Product_Lines,Average_Price_USD,Market_Trend,Certifications
4995,BRAND-4996,Brand_4996,Brazil,2010,A,Organic Cotton,Yes,423.73,251736.61,50532.28,No,1,490.95,Stable,None
4996,BRAND-4997,Brand_4997,Germany,2012,C,Bamboo Fabric,Yes,68.24,2342347.78,64214.57,Yes,13,53.92,Stable,Fair Trade
4997,BRAND-4998,Brand_4998,Japan,2023,D,Vegan Leather,Yes,321.12,317800.67,81467.21,Yes,12,431.32,Stable,None
4998,BRAND-4999,Brand_4999,India,2016,A,Tencel,No,124.83,927539.68,34506.22,Yes,20,322.95,Declining,Fair Trade
4999,BRAND-5000,Brand_5000,Italy,2016,B,Vegan Leather,No,192.11,3402552.70,81958.82,Yes,11,205.62,Growing,None

In [36]:
df_moda_sostenible.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Brand_ID                    5000 non-null   object
 1   Brand_Name                  5000 non-null   object
 2   Country                     5000 non-null   object
 3   Year                        5000 non-null   int64
 4   Sustainability_Rating       5000 non-null   object
 5   Material_Type               5000 non-null   object
 6   Eco_Friendly_Manufacturing  5000 non-null   object
 7   Carbon_Footprint_MT         5000 non-null   float64
 8   Water_Usage_Liters          5000 non-null   float64
 9   Waste_Production_KG         5000 non-null   float64
 10  Recycling_Programs          5000 non-null   object
 11  Product_Lines               5000 non-null   int64
 12  Average_Price_USD           5000 non-null   float64
 13  Market_Trend                5000 non-null   object
 14  Certifications              5000 non-null   object
dtypes: float64(4), int64(2), object(9)
memory usage: 586.1+ KB

In [37]:
df_moda_sostenible.shape
print(f"El número de filas que tenemos es {df_moda_sostenible.shape[0]}, y el número de columnas es {df_moda_sostenible.shape[1]}")

El número de filas que tenemos es 5000, y el número de columnas es 15

In [38]:
df_moda_sostenible.dtypes

Brand_ID                       object
Brand_Name                     object
Country                        object
Year                            int64
Sustainability_Rating          object
Material_Type                  object
Eco_Friendly_Manufacturing     object
Carbon_Footprint_MT           float64
Water_Usage_Liters            float64
Waste_Production_KG           float64
Recycling_Programs             object
Product_Lines                   int64
Average_Price_USD             float64
Market_Trend                   object
Certifications                 object
dtype: object

In [39]:
df_moda_sostenible.isnull().sum()

Brand_ID                      0
Brand_Name                    0
Country                       0
Year                          0
Sustainability_Rating         0
Material_Type                 0
Eco_Friendly_Manufacturing    0
Carbon_Footprint_MT           0
Water_Usage_Liters            0
Waste_Production_KG           0
Recycling_Programs            0
Product_Lines                 0
Average_Price_USD             0
Market_Trend                  0
Certifications                0
dtype: int64

In [40]:
df_moda_sostenible.duplicated().sum().item()

0

In [41]:
df_moda_sostenible.columns

Index(['Brand_ID', 'Brand_Name', 'Country', 'Year', 'Sustainability_Rating',
       'Material_Type', 'Eco_Friendly_Manufacturing', 'Carbon_Footprint_MT',
       'Water_Usage_Liters', 'Waste_Production_KG', 'Recycling_Programs',
       'Product_Lines', 'Average_Price_USD', 'Market_Trend', 'Certifications'],
      dtype='object')

In [42]:
df_moda_sostenible.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,5000.0,2.016956e+03,4.347466e+00,2010.00,2.013000e+03,2017.000,2021.000,2024.00
Carbon_Footprint_MT,5000.0,2.503175e+02,1.428023e+02,1.04,1.266150e+02,250.650,372.255,499.93
Water_Usage_Liters,5000.0,2.517862e+06,1.429043e+06,50106.18,1.293087e+06,2499095.995,3763859.550,4999596.61
Waste_Production_KG,5000.0,5.010730e+04,2.874638e+04,1026.38,2.534080e+04,50466.340,74984.650,99947.85
Product_Lines,5000.0,1.043120e+01,5.706573e+00,1.00,5.000000e+00,10.000,15.000,20.00
Average_Price_USD,5000.0,2.593542e+02,1.377310e+02,20.02,1.428650e+02,258.615,378.595,499.94

In [43]:
df_moda_sostenible.describe(include=['object']).T

                           count unique                 top  freq
Brand_ID                    5000   5000          BRAND-0001     1
Brand_Name                  5000   5000             Brand_1     1
Country                     5000     10                  UK   515
Sustainability_Rating       5000      4                   B  1278
Material_Type               5000      6  Recycled Polyester   867
Eco_Friendly_Manufacturing  5000      2                 Yes  2520
Recycling_Programs          5000      2                 Yes  2528
Market_Trend                5000      3              Stable  1709
Certifications              5000      5                GOTS  1050

In [44]:
def explorar_valores_unicos(df):
    for columna in df.columns:
        valores_unicos=df[columna].unique()
        total_unicos=len(valores_unicos)

        print(f"Columna : {columna}")
        print(f"Los valores unicos son: {valores_unicos}")
        print(f"Total valores unicos : {total_unicos}")
        print("---------------------------")

#Llamo a la funcion para Exploracion de valores unicos
explorar_valores_unicos(df_moda_sostenible)

Columna : Brand_ID
Los valores unicos son: ['BRAND-0001' 'BRAND-0002' 'BRAND-0003' ... 'BRAND-4998' 'BRAND-4999'
 'BRAND-5000']
Total valores unicos : 5000
---------------------------
Columna : Brand_Name
Los valores unicos son: ['Brand_1' 'Brand_2' 'Brand_3' ... 'Brand_4998' 'Brand_4999' 'Brand_5000']
Total valores unicos : 5000
---------------------------
Columna : Country
Los valores unicos son: ['Australia' 'Japan' 'USA' 'Italy' 'Brazil' 'France' 'India' 'UK'
 'Germany' 'China']
Total valores unicos : 10
---------------------------
Columna : Year
Los valores unicos son: [2018 2015 2024 2023 2016 2017 2022 2011 2012 2013 2020 2021 2014 2010
 2019]
Total valores unicos : 15
---------------------------
Columna : Sustainability_Rating
Los valores unicos son: ['D' 'A' 'B' 'C']
Total valores unicos : 4
---------------------------
Columna : Material_Type
Los valores unicos son: ['Tencel' 'Vegan Leather' 'Bamboo Fabric' 'Recycled Polyester' 'Hemp'
 'Organic Cotton']
Total valores unicos : 6
---------------------------
Columna : Eco_Friendly_Manufacturing
Los valores unicos son: ['No' 'Yes']
Total valores unicos : 2
---------------------------
Columna : Carbon_Footprint_MT
Los valores unicos son: [  1.75 124.39 336.66 ...  68.24 321.12 124.83]
Total valores unicos : 4747
---------------------------
Columna : Water_Usage_Liters
Los valores unicos son: [4511152.79 1951566.31  467454.52 ...  317800.67  927539.68 3402552.7 ]
Total valores unicos : 5000
---------------------------
Columna : Waste_Production_KG
Los valores unicos son: [97844.11 37267.75 38385.92 ... 81467.21 34506.22 81958.82]
Total valores unicos : 4998
---------------------------
Columna : Recycling_Programs
Los valores unicos son: ['No' 'Yes']
Total valores unicos : 2
---------------------------
Columna : Product_Lines
Los valores unicos son: [ 2 15 13 19 10 17 18 11  9  1 20  5  8  3 16 12 14  7  6  4]
Total valores unicos : 20
---------------------------
Columna : Average_Price_USD
Los valores unicos son: [ 38.33 250.07 146.16 ... 431.32 322.95 205.62]
Total valores unicos : 4748
---------------------------
Columna : Market_Trend
Los valores unicos son: ['Growing' 'Stable' 'Declining']
Total valores unicos : 3
---------------------------
Columna : Certifications
Los valores unicos son: ['GOTS' 'B Corp' 'OEKO-TEX' 'Fair Trade' 'None']
Total valores unicos : 5
---------------------------

In [45]:
df_marketing.to_csv("data/df_Datos_Clientes.csv")

In [46]:
df_Clientes = pd.read_csv("data/df_Datos_Clientes.csv")

In [50]:
df_Clientes['Continents'].unique()

array(['Europe', 'Asia', 'South America', 'Oceania', 'North America'],
      dtype=object)